#navbar {
    position: fixed;
    text-align: left;
    border: 1px solid;
  }
  #nav-header {
    font-size: 25px;
    margin: 10px;
  }
  #navbar a {
    text-decoration: none;
  }
  #main-doc {
    position: absolute;
    margin-left: 200px;
    padding: 20px;
  }
  #nav-ul {
    list-style: none;
    padding: 20px;
    font-size: 17px;
  }
  .nav-li {
    border-top: 1px solid;
    margin-top: 30px;
    padding-top: 30px;
    font-size: 20px;
  }
  code {
    background-color: #e3e8e5;
  }
  header {
    font-size: 30px;
  }